{{! Renders the entire HTML page}}
<!doctype html>
<html class="no-js" lang="en">
  <head>
    <script src="https://unpkg.com/@popperjs/core@2"></script>
    <script src="https://unpkg.com/tippy.js@6"></script>
    {{>layout/head}}
  </head>
  <body id="spectacle">
    {{>layout/page}}
  </body>
</html>
